{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <form id="login-form">
                <div class="mb-3">
                   <label for="username-input" class="form-label">Username</label>
                   <input type="text" class="form-control" id="username-input" required/>
                </div>
                <div class="mb-3">
                   <label for="password-input" class="form-label">Password</label>
                   <input type="password" class="form-control" id="password-input" required/>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const loginForm = document.querySelector("form#login-form");
    loginForm.addEventListener("submit", async event => {
        event.preventDefault();

        const username = loginForm.querySelector("input#username-input").value;
        const password = loginForm.querySelector("input#password-input").value;

        const response = await fetch("http://0.0.0.0:8080/api/v1/auth/", {
            method: "POST",
            headers: {
              "Content-Type": "application/json;charset=utf-8"
            },
            body: JSON.stringify({"username": username, "password": password})
        });

        const data = await response.json();
        Cookies.set("auth_token", data["token"]);

        window.location = "/rooms/find";
    });
</script>
{% endblock %}