{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-secondary find-btn">Find opponent</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const findButton = document.querySelector("button.find-btn");
    findButton.addEventListener("click", async () => {
        const response = await fetch("http://0.0.0.0:8080/api/v1/rooms/find", {
            method: "GET",
            headers: {
              "Content-Type": "application/json;charset=utf-8",
              "Authorization": "Token " + Cookies.get("auth_token")
            }
        });

        const room = await response.json();

        window.location = "/rooms/" + room["id"];
    });
</script>
{% endblock %}