{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
              <p></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const alertMessage = document.querySelector(".alert p");

    let sections = window.location.pathname.split("/");
    roomId = parseInt(sections[sections.length - 1]);

    const promise = fetch(`http://0.0.0.0:8080/api/v1/rooms/${roomId}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json;charset=utf-8",
          "Authorization": "Token " + Cookies.get("auth_token")
        }
    });

    promise.then(async response => {
        const room = await response.json();

        if (room.opponent && room.is_owner) {
            alertMessage.innerText = `Your opponent is ${room.opponent.username}`;
        } else if (room.opponent && !room.is_owner) {
            alertMessage.innerText = `Your opponent is ${room.creator.username}`;
        } else {
            alertMessage.innerText = "Looking for an opponent...";
        }
    });

    const socket = new WebSocket(`ws://0.0.0.0:8081/ws/rooms/${roomId}/`);
    socket.onmessage = async (event) => {
        const eventData = JSON.parse(event.data);

        if (eventData.type == "EVENT_OPPONENT_FOUND") {
            alertMessage.innerText = `Your opponent is ${eventData.opponent.username}`;
        }
    }
</script>
{% endblock %}